@font-face {
	font-family: 'iconfont_bplayer';
	src: url('fonts/bPlayer_font.eot'); /* IE9*/
	src: url('fonts/bPlayer_font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/bPlayer_font.woff') format('woff'), /* chrome、firefox */
	url('fonts/bPlayer_font.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('fonts/bPlayer_font.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont_bplayer {
	font-family:"iconfont_bplayer";
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
}

.bPlayer {
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	font-family:
		Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
	width: 100%;
	height: 60px;
	background-color: #FFF;
	cursor: default;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cover_bplayer {
	background-color: #CCC;
	height: 60px;
	width: 60px;
	position: absolute;
	left: 0;
	top: 0;
}
.cover_bplayer:before {
	content: "\e605";
	font-family:"iconfont_bplayer";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	line-height: 60px;
	text-align: center;
	font-size: 40px;
	color: #FFF;
}

.coverimg_bplayer {
	position: absolute;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.controlbtn_bplayer {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 60px;
	text-align: center;
	font-size: 40px;
	color: #FFF;
	background-color: rgba(0,0,0,0.27);
	opacity: 0;
	display: block;
	transition: opacity 500ms;
}
.controlbtn_bplayer:hover {
	opacity: 1;
}

.info_bplayer {
	position: absolute;
	top: 0;
	right: 0;
	height: 60px;
	width: 100%;
}

.titlewrap_bplayer {
	padding-left: 72px;
	padding-right: 140px;
	line-height: 60px;
	height: 60px;
	font-size: 20px;
	white-space: nowrap;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
}

.title_bplayer {
}

.author_bplayer {
	font-size: 80%;
	opacity: 0.8;
}
.author_bplayer:before {
	content: " - ";
}

.buttons_bplayer {
	position: absolute;
	top: 20px;
	font-size: 16px;
	right: 0;
}
.btn_bplayer {
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	margin-right: 8px;
	float: right;
	opacity: 1;
	transition: opacity 500ms;
}

.progress_bplayer {
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 100%;
	transition: height 500ms;
}
.progress_bplayer:hover {
	height: 6px;
}
.loaded_bplayer {
	position: absolute;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #AAA;
	transition: width 300ms linear;
}
.played_bplayer {
	position: absolute;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #F00;
	transition: width 100ms linear;
}
.progressctl_bplayer {
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
}

.time_bplayer {
	position: absolute;
	top: 20px;
	right: 65px;
	line-height: 20px;
	font-size: 12px;
}
.total_bplayer:before {
	content: " / ";
}

.volume_bplayer {
	position: relative;
	line-height: 20px;
	height: 20px;
	width: 20px;
	float: right;
	margin-right: 8px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0);
	background-color: #FFF;
	transition: box-shadow 500ms, width 500ms;
}
.volume_bplayer:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 105px;
}
.volumebtn_bplayer {
	float: right;
	margin: 0;
}
.volumebar_bplayer {
	position: absolute;
	top: 0;
	right: 20px;
	height: 20px;
	width: 85px;
}
.volumebg_bplayer {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	margin: 8px 0 8px 5px;
	height: 4px;
	background-color: #AAA;
}
.volumeval_bplayer {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	margin: 8px 0 8px 5px;
	height: 4px;
	background-color: #F00;
}
.volumectl_bplayer {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	margin-left: 5px;
	height: 20px;
}


.disabled_bplayer {
	opacity: 0.2;
}

.hidden_bplayer {
	opacity: 0;
	display: none;
}

.narrow_bplayer .buttons_bplayer {
	top: 35px;
}
.narrow_bplayer .time_bplayer {
	top: 35px;
}

.narrow_bplayer .titlewrap_bplayer {
	padding-right: 0;
	line-height: 40px;
	font-size: 16px;
}
